/* Define o estilo geral do container */
.notebooks-info {
  padding: 50px;
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-top: 30px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .notebooks-details{
    .emphasis {
      font-weight: bold;
      color: #FF4D00;
    }
  }

  
}