.home {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10em 15em;
    }

    .first-section {
        font-size: 30px;
        align-items: center;
        flex-direction: column;
        display: flex;
        padding-top: 3em;

        h1{
            display: flex;
            padding: 20px 0;
            align-items: center;

            img {
                width: 70px;
                height: 70px;
                margin-left: 20px;
            }
        }

        a {
            padding: 15px 25px;
            font-size: 20px;
            background-color: #FF4D00;
            color: #FFF;
            text-decoration: none;
            border-radius: 5px;
        }
    }

    .second-section {
        padding-top: 2em;
        padding-bottom: 0;
        .text {
            width: 50%;
            font-size: 22px;
            text-align: center;

            p {
                text-align: center;
            }
        }

        img {
            width: 35%;
        }
    }

    .third-section {
        color: #000;
        background-color: #FFF;
        /* padding-top: 5em; */

        .udemy-detalhes {
            width: 65%;
            height: 450px;
            display: flex;
            background-color: #1A1A1A;
            box-shadow: 0 0 10px #0000001A;
            border-radius: 20px;
            color: #FFF;
            font-size: 18px;

            .udemy-detalhes-texto{
                padding: 20px;

                h2 {
                    padding: 10px;
                    background-color: #FFF;
                    color: #000;
                    border-radius: 8px;
                    text-align: center;
                }

                ul {
                    margin-left: 20px;
                    list-style-type: none;
                    
                    li::marker {
                        font-size: 1.5em;
                        content: "—  ";
                        color: #FF4D00;
                    }
                }
            }

            
            img {
                width: 400px;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 0 0 20px;
            }
        }

        .udemy-destaques{
            width: 30%;
            display: flex;
            flex-direction: column;
            font-size: 19px;
            text-align: center;
            justify-content: center;

            .udemy-topicos {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 40px 0;

                .number {
                    font-size: 35px;
                    color: #FF4D00;
                }
                span {
                    display: block;
                    font-weight: bold;
                    font-size: 20px;
                }

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            a {
                padding: 15px;
                font-size: 20px;
                background-color: #FF4D00;
                color: #FFF;
                text-decoration: none;
                border-radius: 10px;
            }
        }
    }

    .fourth-section {
        color: #000;
        background-color: #FFF;
        flex-direction: column;

        div {
            background-color: #1A1A1A;
            color: #FFF;
            padding: 30px;
            border-radius: 20px;
            font-size: 22px;
        }
    }

    /*
    second
    third
    fourth
    fifth
    */
}